:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 4px 0;
  align-items: center;
  justify-content: center;
}

.page-container {
  min-width: 45%;
  max-width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #ffffff;
  padding: 20px;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid rgba(63, 81, 181, 0.6);

  h3 {
    margin-top: 0;

    .play-button {
      margin-left: 15px;
      align-self: center;
      flex: 0 0 auto;
      cursor: pointer;

      &:hover {
        color: #0000ff;
      }
    }
  }

  .text-container {
    display: flex;
    margin-bottom: 10px;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 6px;
    position: relative;

    .language-text-container {
      display: flex;
      flex: 1 1 auto;
      font-size: 1.2rem;
      max-width: calc(100% - 42px);
      flex-wrap: wrap;
      border-bottom: 1px solid #47659e;

      .word-block {
        min-width: 30px;
        display: flex;
        white-space: nowrap;
        flex-wrap: nowrap;
        margin: 2px;

        &.populated {
          min-width: unset;
          border-bottom: unset;
        }
      }
    }

    .delete-item-button {
      border-radius: 6px;
      padding: 5px 10px;
      border: 1px solid rgba(0, 0, 0, 0);
      cursor: pointer;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
      flex: 0 0 auto;
      align-self: flex-end;

      .mat-icon {
        font-size: 1.2rem;
        width: 1.2rem;
        height: 1.2rem;
      }

      &:hover {
        border-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .answer-grid {
    display: flex;
    margin: 5px 20px;
    flex-wrap: wrap;

    button {
      flex: 1 1 auto;
      font-size: 1.2rem;
      margin: 2px;
    }
  }
}
