<div class="page-container">
  <h3>
    Spell the word
    <mat-icon class="play-button"
              (click)="onClick($event)"
              *ngIf="wordData.audio.length > 0">play_circle_outline</mat-icon>
  </h3>

  <div class="text-container">
    <div #languageTextContainer
         class="language-text-container">
      <div class="word-block"
           *ngFor="let item of letterArray; let i = index"
           [ngClass]="{ populated: getPopulatedLetter(i).length > 0 }">
        {{ getPopulatedLetter(i) }}
      </div>
    </div>
    <div class="delete-item-button"
         (click)="deleteItem()">
      <mat-icon>backspace</mat-icon>
    </div>
  </div>

  <div class="answer-grid">
    <button mat-raised-button
            #letterButton
            *ngFor="let item of letterArray.filter(uniqueLetterList)"
            [disabled]="isLetterDisabled(item)"
            (click)="addPopulatedLetter(item)">
      {{ item }}
    </button>
  </div>
</div>
<audio #audio></audio>