<div class="top-bar">
  <div class="back-button"
       (click)="goBack()"
       tabindex="0">
    <mat-icon>arrow_back</mat-icon>
    <div class="language-text">
      <div class="dakelh-text">Go Back</div>
      <div class="english-text">Go Back</div>
    </div>
  </div>

  <div class="page-title language-text">
    <div class="dakelh-text">Choose a lesson</div>
    <div class="english-text">Choose a lesson</div>
  </div>
</div>

<div #accordion
     class="lesson-type-accordion"
     role="list">
  <div class="expansion-panel"
       role="listitem"
       tabindex="0"
       (click)="panelHeaderClick('words')"
       (keyup.enter)="panelHeaderKeyup('words')"
       (keyup.space)="panelHeaderKeyup('words')"
       [ngClass]="{ 'active-panel': activePanel === 'words' }">
    <div class="panel-header">
      <div class="language-text">
        <div class="dakelh-text">Dakelh - Words</div>
        <div class="english-text">Dakelh - Words</div>
      </div>
    </div>

    <div #wordNavList
         class="expansion-panel-content"
         [ngStyle]="{ height: activePanel === 'words' ? listItemHeight * wordCategories.length + 'px' : '0' }">
      <mat-nav-list class="menu-list"
                    *ngIf="pageReady">
        <a mat-list-item
           class="language-text"
           *ngFor="let category of wordCategories"
           [routerLink]="['/lessons', category.id]"
           routerLinkActive="active">
          <app-menu-list-item [menuItem]="category"></app-menu-list-item>
        </a>
      </mat-nav-list>
    </div>
  </div>
  <div class="expansion-panel"
       role="listitem"
       tabindex="0"
       (click)="panelHeaderClick('phrases')"
       (keyup.enter)="panelHeaderKeyup('phrases')"
       (keyup.space)="panelHeaderKeyup('phrases')"
       [ngClass]="{ 'active-panel': activePanel === 'phrases' }">
    <div class="panel-header">
      <div class="language-text">
        <div class="dakelh-text">Dakelh - Phrases</div>
        <div class="english-text">Dakelh - Phrases</div>
      </div>
    </div>

    <div #phraseNavList
         class="expansion-panel-content"
         [ngStyle]="{ height: activePanel === 'phrases' ? listItemHeight * phraseCategories.length + 'px' : '0' }">
      <mat-nav-list class="menu-list"
                    *ngIf="pageReady">
        <a mat-list-item
           class="language-text"
           *ngFor="let category of phraseCategories"
           (click)="listItemClick($event)"
           [routerLink]="['/lessons', category.id]"
           routerLinkActive="active">
          <app-menu-list-item [menuItem]="category"></app-menu-list-item>
        </a>
      </mat-nav-list>
    </div>
  </div>

  <div class="expansion-panel"
       role="listitem"
       tabindex="0"
       (click)="panelHeaderClick('flashcards')"
       (keyup.enter)="panelHeaderKeyup('flashcards')"
       (keyup.space)="panelHeaderKeyup('flashcards')"
       [ngClass]="{ 'active-panel': activePanel === 'flashcards' }">
    <div class="panel-header">
      <div class="language-text">
        <div class="dakelh-text">Flashcards</div>
        <div class="english-text">Flashcards</div>
      </div>
    </div>

    <div #flashcardNavList
         class="expansion-panel-content"
         [ngStyle]="{ height: activePanel === 'flashcards' ? listItemHeight * flashcardCategories.length + 'px' : '0' }">
      <mat-nav-list class="menu-list"
                    *ngIf="pageReady">
        <a mat-list-item
           class="language-text"
           *ngFor="let category of flashcardCategories"
           (click)="listItemClick($event)"
           [routerLink]="['/flashcards', category.id]"
           routerLinkActive="active">
          <app-menu-list-item [menuItem]="category"></app-menu-list-item>
        </a>
      </mat-nav-list>
    </div>
  </div>
</div>