<div class="top-bar">
  <div class="back-button"
       (click)="goBack()"
       tabindex="0">
    <mat-icon>arrow_back</mat-icon>
    <div class="language-text">
      <div class="dakelh-text">Go Back</div>
      <div class="english-text">Go Back</div>
    </div>
  </div>

  <div class="page-title language-text">
    <div class="dakelh-text">{{ lesson.dakelh }}</div>
    <div class="english-text">{{ lesson.english }}</div>
  </div>
</div>

<div class="learning-module-container"
     *ngIf="pageReady"
     [ngSwitch]="this.lesson.learningModules[currentModuleNum].learningModule">
  <!-- WORDS -->
  <app-word-learning-example *ngSwitchCase="'single-word-example'"
                             [languageWord]="this.lesson.learningModules[currentModuleNum].languageWord"
                             (completed)="completedLearningModule()"></app-word-learning-example>

  <app-word-spelling *ngSwitchCase="'word-spelling'"
                     [languageWord]="this.lesson.learningModules[currentModuleNum].languageWord"
                     (completed)="completedLearningModule()"></app-word-spelling>

  <app-words-learning-example *ngSwitchCase="'multiple-word-example'"
                              [languageWords]="this.lesson.learningModules[currentModuleNum].languageWords"
                              (completed)="completedLearningModule()"></app-words-learning-example>

  <app-drag-drop-example *ngSwitchCase="'drag-drop-example'"
                         [languageWord]="this.lesson.learningModules[currentModuleNum].languageWord"
                         (completed)="completedLearningModule()"></app-drag-drop-example>

  <app-side-scroll-image-search *ngSwitchCase="'side-scroll-image-search'"
                                [languageWord]="this.lesson.learningModules[currentModuleNum].languageWord"
                                (completed)="completedLearningModule()"></app-side-scroll-image-search>

  <!-- PHRASES-->
  <app-phrase-learning *ngSwitchCase="'phrase-learning'"
                       [languagePhrase]="this.lesson.learningModules[currentModuleNum].languagePhrase"
                       (completed)="completedLearningModule()"></app-phrase-learning>

  <app-phrase-builder *ngSwitchCase="'phrase-builder'"
                      [languagePhrase]="this.lesson.learningModules[currentModuleNum].languagePhrase"
                      (completed)="completedLearningModule()"></app-phrase-builder>

  <!-- COMPLETED LESSONS -->
  <app-lesson-completed *ngSwitchCase="'lesson-completed'"
                        (completed)="completedLearningModule()"></app-lesson-completed>
</div>