:host {
  display: flex;
  flex-direction: column;
}

.learning-module-container {
  display: flex;
  flex: 1 1 auto;
  max-height: calc(100% - 64px);

  & > * {
    max-width: 100%;
    max-height: 100%;
    position: relative;
  }
}
