:host {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.menu-item-icon {
  flex: 0 0 auto;

  &.completed {
    color: rgb(0, 133, 0);
  }
}

.language-text-container {
  flex: 1 1 auto;
  justify-content: center;
}

.play-button {
  flex: 0 0 auto;

  &:hover {
    color: #0000ff;
  }
}
