<div class="page-container">
  <div class="text-container">
    <div class="language-text-container">
      <div class="dakelh-text">{{ wordData.dakelh }}</div>
      <div class="english-text">{{ wordData.english }}</div>
    </div>

    <mat-icon class="play-button"
              (click)="onClick($event)"
              *ngIf="wordData.audio.length > 0">play_circle_outline</mat-icon>
  </div>

  <button mat-raised-button
          (click)="completedModule()"
          color="primary">
    ok
  </button>
</div>
<audio #audio></audio>