.carousel-section {
  position: relative;
  width: 100%;

  .carousel-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 6px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 200%;
    }

    .carousel-inner {
      display: flex;
      margin-left: 33.33%;
    }
  }
}

.carousel-mask-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;

  .carousel-mask {
    flex: 1 1 auto;
    background-color: rgba(0, 0, 0, 0);
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }

  .selected-mask {
    border: 4px solid rgba(33, 85, 199, 0.8);
  }

  .shaded-mask {
    background-color: rgba(0, 0, 0, 0.8);

    .mat-icon {
      color: #000000;
      font-size: 4rem;
      height: 4rem;
      width: 4rem;
      text-shadow: -2px -2px 3px rgba(255, 255, 255, 0.4),
        2px -2px 3px rgba(255, 255, 255, 0.4),
        -2px 2px 3px rgba(255, 255, 255, 0.4),
        2px 2px 3px rgba(255, 255, 255, 0.4);
      transition: text-shadow 250ms;
    }

    &:hover .mat-icon {
      text-shadow: -2px -2px 3px rgba(255, 255, 255, 1),
        2px -2px 3px rgba(255, 255, 255, 1), -2px 2px 3px rgba(255, 255, 255, 1),
        2px 2px 3px rgba(255, 255, 255, 1);
    }
  }
}

.select-button-container {
  display: flex;
  margin-top: 3px;
  justify-content: center;

  .mat-raised-button {
    width: 33.33%;
  }

  .text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;

    .language-text-container {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;

      & .dakelh-text,
      & .english-text {
        flex: 1 1 auto;
      }
    }
  }
}
