:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 4px 0;
  align-items: center;
  justify-content: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #ffffff;
  padding: 5px;
  justify-content: space-between;
  border-radius: 6px;
  min-width: 45%;
  border: 1px solid rgba(63, 81, 181, 0.6);

  .words-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    align-self: center;

    .text-container {
      display: flex;
      margin-bottom: 10px;
      padding: 5px 20px;
      border: 1px solid transparent;
      border-radius: 6px;

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.5);
      }

      .language-text-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        & .dakelh-text,
        & .english-text {
          flex: 1 1 auto;
        }
      }

      .play-button {
        font-size: 2rem;
        height: 2rem;
        width: 2rem;
        margin-left: 15px;
        flex: 0 0 auto;
        align-self: center;
        cursor: pointer;

        &:hover {
          color: #0000ff;
        }
      }
    }
  }
}
