:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 4px 0;
  align-items: center;
  justify-content: center;
}

.words-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  min-width: 100px;

  .arrow-container {
    height: 44px;
    min-height: 44px;

    mat-icon {
      font-size: 2.5rem;
      height: unset;
      width: unset;
      pointer-events: none;
      cursor: default;
      opacity: 0;
      color: rgba(63, 81, 181, 0.9);
      text-shadow: -1px -1px 0 rgb(63, 81, 181), 1px -1px 0 rgb(63, 81, 181), -1px 1px 0 rgb(63, 81, 181),
        1px 1px 0 rgb(63, 81, 181);
    }

    .up-arrow {
      margin-top: 15px;
      animation: arrowUpAnimation 2s linear infinite;
    }

    .down-arrow {
      margin-top: -10px;
      animation: arrowDownAnimation 2s linear infinite;
    }
  }

  .drop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    border: 2px solid #939393;
    z-index: 9000;

    & * {
      pointer-events: none;
    }

    & > img {
      max-width: 100%;
    }

    &.drag-element-hovering {
      border-radius: 6px;
      border-color: rgba(63, 81, 181, 0.6);
    }

    &.drag-element-hovering::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 6px;
      top-webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
      -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
      animation: dragOverAnimation 250ms ease forwards;
    }
  }

  .drag-container {
    min-width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 5px 0;

    .drag-item {
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid rgb(63, 81, 181);
      padding: 10px 20px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 6px;
      border: 1px solid rgba(63, 81, 181, 0.6);

      .language-text-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        & .dakelh-text,
        & .english-text {
          flex: 1 1 auto;
        }
      }

      .play-button {
        font-size: 2rem;
        height: 2rem;
        width: 2rem;
        margin-left: 15px;
        flex: 0 0 auto;
        align-self: center;
        cursor: pointer;

        &:hover {
          color: #0000ff;
        }
      }
    }
  }
}

/* animations */
@keyframes arrowUpAnimation {
  0% {
    margin-top: 15px;
    opacity: 0;
  }
  15% {
    margin-top: 15px;
    opacity: 1;
  }
  85% {
    margin-top: -5px;
    opacity: 1;
  }
  100% {
    margin-top: -5px;
    opacity: 0;
  }
}

@keyframes arrowDownAnimation {
  0% {
    margin-top: -10px;
    opacity: 0;
  }
  15% {
    margin-top: -10px;
    opacity: 1;
  }
  85% {
    margin-top: 10px;
    opacity: 1;
  }
  100% {
    margin-top: 10px;
    opacity: 0;
  }
}

@keyframes dragOverAnimation {
  0% {
    top-webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    top-webkit-box-shadow: inset 0 0 60px 30px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 0 60px 30px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 0 60px 30px rgba(0, 0, 0, 0.6);
  }
}
