<div class="page-container">
  <div class="text-container">
    <div class="language-text-container">
      <div class="dakelh-text">Well Done!</div>
      <div class="english-text">Well Done!</div>
    </div>

    <div class="language-text-container">
      <div class="dakelh-text">You have completed this lesson</div>
      <div class="english-text">You have completed this lesson</div>
    </div>
  </div>

  <button mat-raised-button (click)="completedModule()" color="primary">
    ok
  </button>
</div>
