// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dakelhlingo-primary: mat-palette($mat-indigo);
$dakelhlingo-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dakelhlingo-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$dakelhlingo-theme: mat-light-theme(
  $dakelhlingo-primary,
  $dakelhlingo-accent,
  $dakelhlingo-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dakelhlingo-theme);

/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.main-app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(160deg, rgb(4, 147, 204), rgb(71, 101, 158));

  & > *:not(router-outlet) {
    padding: 18px;
    width: calc(100% - 40px);
    max-width: 728px;
    height: calc(100% - 73px);
    max-height: calc(100% - 73px);
    border: 1px solid rgba(255, 255, 255, 0.2);

    background: url('assets/images/app/background-ocean.jpg') no-repeat center
      center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
  }

  .mat-nav-list.mat-list-base {
    flex: 1 1 auto;
    background-color: transparent;
    padding: 0;
    width: 100%;
  }

  .mat-nav-list.mat-list-base .mat-list-item,
  .mat-nav-list.mat-list-base .mat-list-option {
    height: unset;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;

    &.primary {
      background-color: rgba(6, 127, 204, 0.8);
      color: #ffffff;
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .mat-nav-list.mat-list-base .mat-list-item .mat-list-item-content,
  .mat-nav-list.mat-list-base .mat-list-option .mat-list-item-content {
    flex: 1 1 auto;
    min-height: 76px;
    // align-items: flex-start;
    padding: 15px 16px;
  }

  .mat-list-item.language-text,
  button.language-text .mat-button-wrapper {
    display: flex;
    align-items: center;
    text-align: left;

    .language-text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 15px;
    }
  }

  .mat-raised-button {
    white-space: normal;
  }
}

button .mat-icon,
.mat-list-item-content .mat-icon {
  font-size: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

button.back-button .mat-icon {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

.top-bar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 8px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);

  .language-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .back-button {
    display: flex;
    flex: 0 0 auto;
    border-radius: 6px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    .mat-icon {
      font-size: 2rem;
      width: 2rem;
      height: 2rem;
      margin-right: 20px;
    }

    .language-text {
      flex: 0 0 auto;
    }

    &:hover {
      border-color: rgba(0, 0, 0, 0.5);
    }
  }

  .page-title {
    flex: 1 1 auto;
    display: flex;
    align-items: stretch;

    .dakelh-text,
    .english-text {
      white-space: nowrap;
      text-overflow: clip;
      text-align: right;
    }
  }
}

.dakelh-text {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: normal;
}

.english-text {
  font-size: 0.825rem;
  line-height: 1rem;
  font-weight: normal;
  padding-left: 5px;
}

.level1 .english-text {
  opacity: 0.5;
}

.level2 .english-text {
  display: none;
}

h3 {
  color: #333333;
  font-weight: normal;
}

button.back-button {
  min-height: 68px;
  height: 68px;
}
