<img src="assets/images/app/dakelh-logo.png" width="50%" />

<mat-nav-list class="home-nav-list">
  <a
    mat-list-item
    class="language-text"
    *ngFor="let navItem of navItems"
    [routerLink]="navItem.route"
    routerLinkActive="active"
    [ngClass]="navItem.className"
  >
    <mat-icon>{{ navItem.icon }}</mat-icon>
    <div class="language-text-container">
      <div class="dakelh-text">{{ navItem.routeDakelh }}</div>
      <div class="english-text">{{ navItem.routeEnglish }}</div>
    </div>
  </a>
</mat-nav-list>
