<button
  mat-raised-button
  class="back-button language-text"
  (click)="goBack()"
  color="secondary"
>
  <mat-icon>arrow_back</mat-icon>
  <div class="language-text-container">
    <div class="dakelh-text">Go Back</div>
    <div class="english-text">Go Back</div>
  </div>
</button>

<p>
  settings works!
</p>

<mat-radio-group [(ngModel)]="lessonLevel" (change)="changeLessonLevel()">
  <mat-radio-button [value]="''">Beginner</mat-radio-button>
  <mat-radio-button [value]="'level1'">Intermediate</mat-radio-button>
  <mat-radio-button [value]="'level2'">Expert</mat-radio-button>
</mat-radio-group>
