<div class="top-bar">
  <div class="back-button"
       (click)="goBack()"
       tabindex="0">
    <mat-icon>arrow_back</mat-icon>
    <div class="language-text">
      <div class="dakelh-text">Go Back</div>
      <div class="english-text">Go Back</div>
    </div>
  </div>

  <div class="page-title language-text">
    <div class="dakelh-text">My Settings</div>
    <div class="english-text">My Settings</div>
  </div>
</div>

<div class="page-content">
  <div class="settings-container">
    <mat-radio-group class="settings-radio-group"
                     [(ngModel)]="userLevel">
      <label>
        <div class="language-text">
          <div class="dakelh-text">Student Level</div>
          <div class="english-text">Student Level</div>
        </div>


      </label>
      <mat-radio-button class="settings-radio-button"
                        [value]="'level1'">Beginner</mat-radio-button>
      <mat-radio-button class="settings-radio-button"
                        [value]="'level2'">Intermediate</mat-radio-button>
      <mat-radio-button class="settings-radio-button"
                        [value]="'level3'">Expert</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="settings-container">
    <mat-radio-group class="settings-radio-group"
                     [(ngModel)]="timeOfDay">
      <label>
        <div class="language-text">
          <div class="dakelh-text">Ntsoya oozulh?</div>
          <div class="english-text">What time is it?</div>
        </div>
      </label>

      <mat-radio-button class="settings-radio-button"
                        [value]="'morning'">
        <div class="language-text">
          <div class="dakelh-text">Bundada</div>
          <div class="english-text">Morning</div>
        </div>
      </mat-radio-button>
      <mat-radio-button class="settings-radio-button"
                        [value]="'noon'">
        <div class="language-text">
          <div class="dakelh-text">Dzetniz</div>
          <div class="english-text">Noon</div>
        </div>
      </mat-radio-button>
      <mat-radio-button class="settings-radio-button"
                        [value]="'night'">
        <div class="language-text">
          <div class="dakelh-text">Ulhdzis</div>
          <div class="english-text">Night</div>
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="settings-container">
    <button mat-raised-button
            color="warn"
            (click)="resetCompletedData()">
      <div class="language-text">
        <div class="dakelh-text">Start Lessons Over</div>
        <div class="english-text">Start Lessons Over</div>
      </div>
    </button>
  </div>
</div>